.header{
    background-color: aquamarine;
    height: 200px;
}

.mepic{
 
    max-height: 200px;
    max-width: 200px;
    border-radius: 600px;
    
    
    margin-left: 200px;
}


.left {
    height: 500px;
    width: 600px;
    display: inline-block;
    background-color: lightgray;
    
    
}

.twit {
    text-align: center;
}

body {
    background-color: darkred;
}

.middle {
    height: 500px;
    width: 600px;
    float:middle;
    display: inline-block;
    background-color: cadetblue;
}

.right {
    height: 500px;
    width: 300px;
    background-color: cornflowerblue;
    display: inline-block;
}

.linkshead{
    word-spacing: 50px;
    
}