.header{
    background-color: aquamarine;
    height: 200px;
    border: solid;
}

.mepic{
 
    max-height: 200px;
    max-width: 200px;
    border-radius: 600px;
    border: solid;
    
    
    margin-left: 200px;
}

.nav{
    display: inline-block;
    border: solid;
}

.left {
    height: 500px;
    width: 33%;
    display: inline-block;
    background-color: cornflowerblue;
    border: solid;
    border-color: white;
    border-width: 10px;
    
    
}

.twit {
    text-align: center;
}

body {
    background-color: darkred;
}

.middle {
    height: 500px;
    width: 33%;
    float:middle;
    display: inline-block;
    background-color: cornflowerblue;
    border: solid;
    border-color: white;
    border-width: 10px;
}

.right {
    height: 500px;
    width: 33%;
    background-color: cornflowerblue;
    display: inline-block;
      border: solid;
    border-color: white;
    border-width: 10px;
}

.linkshead{
    word-spacing: 50px;
    
}
